.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #ff69b4, #1e90ff);
}
  
.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; 
    margin-right: 10px;
}

.shop-name {
    font-size: 1.5rem;
    font-weight: bold;
    color:white; 
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    color: white;
}

.nav-links a:hover {
    color: #ff6be9; 
}

.header-right .profile-icon {
    height: 40px; 
    border-radius: 50%;
}
